$color_1: #6f6f6f;
$color_2: #232323;
$color_3: #000;
$color_4: #fff;
$color_5: #f1f1f1;
$color_6: #616161;
$color_7: #1c48de;
$color_8: #b7b7b7;
$color_9: #999;
$color_10: #333333;
$color_11: #333;
$color_12: #35424C;
$color_13: #777;
$color_14: rgba(255,255,255,0.65);
$color_15: #999999;
$color_16: #F24259;
$color_17: #939393;
$font_family_1: Font Awesome\ 5 Free;
$background_color_1: transparent;
$background_color_2: rgba(255,66,41,0);
$background_color_3: rgba(0,0,0,0.75);
$background_color_4: #fff;
$background_color_5: #232323;
$background_color_6: #f7f7f7;
$background_color_7: #6f6f6f;
$background_color_10: #e7e7e7;
$border_color_1: transparent #000 #000 transparent;
$border_color_2: transparent #232323 #232323 transparent;
$border_color_3: transparent #fff #fff transparent;
$border_color_4: #e6e6e6;
$border_color_5: transparent #1c48de #1c48de transparent;
$border_color_6: #1c48de;
$border_color_7: #fff transparent transparent #fff;
$border_color_8: #e4e4e4;
$border_color_9: #6f6f6f;
$border_color_10: #F24259;
$border_top_color_1: #c1c1c1;

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900";
@import "_animate.scss";

body {
    font-family: 'Open Sans',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 15px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: #232323;
    line-height: normal;
}

header {
	// transition: all 0.5s ease 0s;
	// position: relative;
	// top: 0;
	// left: 0;
	// z-index: 99999;
}
.navbar-brand {
	img {
		max-height: 43px;
		transition-duration: 0.5s;
	}
}
// .navbar-header-custom {
// 	padding: 17px 0 15px 0;
// }
// .navbar-default {
// 	transition: all 0.5s ease 0s;
// 	.container {
// 		position: relative;
// 	}
// 	.container-fluid {
// 		position: relative;
// 	}
// }
.menu_area {
	position: relative;
	z-index: 2;
	.navbar-brand {
		transition: all 0.5s ease 0s;
	}
}
// .navbar-nav {
// 	li {
// 		list-style: none;
// 		-webkit-transition: background .3s ease;
// 		-ms-transition: background .3s ease;
// 		transition: background .3s ease;
// 		a {
// 			display: block;
// 			color: $color_1;
// 			font-size: 13px;
// 		}
// 		>ul {
// 			padding: 15px 0;
// 			margin: 0 0 0 10px;
// 			background: #fff;
// 			min-width: 225px;
// 			-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
// 			-ms-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
// 			-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
// 			box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
// 		}
// 		&:hover {
// 			>ul {
// 				left: auto;
// 			}
// 		}
// 	}
// 	li.has-sub {
// 		>a {
// 			position: relative;
// 		}
// 		a {
// 			&:hover {
// 				color: $color_2;
// 			}
// 		}
// 	}
// 	>li {
// 		margin-left: 10px;
// 		float: left;
// 		>a {
// 			position: relative;
// 			display: block;
// 			font-size: 13px;
// 			font-weight: 500;
// 			padding: 21px 0.5rem;
// 			color: $color_2;
// 			letter-spacing: 0.5px;
// 			text-transform: uppercase;
// 			-webkit-transition-duration: 500ms;
// 			-o-transition-duration: 500ms;
// 			transition-duration: 500ms;
// 			&:hover {
// 				opacity: 0.65;
// 			}
// 		}
// 	}
// 	>li.has-sub {
// 		padding-right: 13px;
// 		>a {
// 			&:hover {
// 				color: $color_3;
// 			}
// 		}
// 		>ul {
// 			opacity: 0;
// 			margin-top: 10px;
// 			-webkit-transition: all .5s ease;
// 			-ms-transition: all .5s ease;
// 			-moz-transition: all .5s ease;
// 			-o-transition: all .5s ease;
// 			transition: all .5s ease;
// 		}
// 		&:hover {
// 			>ul {
// 				margin-top: 0;
// 				opacity: 1;
// 			}
// 		}
// 		&:last-child {
// 			&:hover {
// 				ul {
// 					left: inherit;
// 					right: 0;
// 				}
// 			}
// 		}
// 	}
// 	li.current {
// 		>a {
// 			color: $color_3;
// 			color: $color_7;
// 		}
// 	}
// 	>li.active {
// 		>a {
// 			color: $color_3;
// 			color: $color_7;
// 		}
// 	}
// 	ul {
// 		position: absolute;
// 		left: -9999px;
// 	}
// }
// .navbar {
// 	>ul {
// 		>li.has-sub {
// 			>a {
// 				&:hover {
// 					&:after {
// 						border-color: $border_color_1;
// 					}
// 				}
// 				&:after {
// 					position: absolute;
// 					top: 30px;
// 					right: -8px;
// 					content: "";
// 					border-color: $border_color_2;
// 					border-style: solid;
// 					border-width: 0 1px 1px 0;
// 					display: block;
// 					height: 6px;
// 					transform: rotate(45deg);
// 					transition: border 0.3s ease 0s;
// 					width: 6px;
// 				}
// 			}
// 		}
// 		>li.current {
// 			>a {
// 				&:after {
// 					border-color: $border_color_1;
// 					border-color: $border_color_5;
// 				}
// 			}
// 		}
// 	}
// 	ul {
// 		ul {
// 			li {
// 				-webkit-transition: all .25s ease;
// 				-ms-transition: all .25s ease;
// 				transition: all .25s ease;
// 				margin-bottom: 12px;
// 				padding: 0 20px;
// 				&:last-child {
// 					margin-bottom: 0;
// 					>a {
// 						border-bottom: 0;
// 					}
// 				}
// 			}
// 			li.active {
// 				>a {
// 					color: $color_3;
// 					color: $color_7;
// 				}
// 			}
// 			li.last-item {
// 				>a {
// 					border-bottom: 0;
// 				}
// 			}
// 			li.has-sub {
// 				>a {
// 					&:after {
// 						position: absolute;
// 						top: 12px;
// 						right: -3px;
// 						width: 8px;
// 						height: 2px;
// 						display: block;
// 						background: #6f6f6f;
// 						content: "";
// 					}
// 					&:before {
// 						position: absolute;
// 						top: 9px;
// 						right: 0;
// 						display: block;
// 						width: 2px;
// 						height: 8px;
// 						background: #6f6f6f;
// 						content: '';
// 						-webkit-transition: all .25s ease;
// 						-ms-transition: all .25s ease;
// 						transition: all 0.25s ease;
// 					}
// 				}
// 			}
// 			>li.has-sub {
// 				&:hover {
// 					>a {
// 						&:before {
// 							top: 17px;
// 							height: 0;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	li {
// 		>ul {
// 			ul {
// 				margin-top: -39px;
// 				margin-left: 200px;
// 				min-width: 200px;
// 				ul {
// 					margin-left: 175px;
// 					min-width: 130px;
// 				}
// 			}
// 		}
// 	}
// }
.attr-nav {
	float: right;
	margin-left: 11px;
	margin-right: -15px;
	.dropdown-toggle {
		&:after {
			content: none;
		}
	}
	>ul {
		padding: 0;
		margin: 0 0 -5px 0;
		list-style: none;
		display: inline-block;
		>li {
			float: left;
			display: block;
			>a {
				color: $color_2;
				display: block;
				padding: 21px 15px;
				position: relative;
			}
		}
	}
}
.top-search {
	padding: 10px 0;
	display: none;
	input.form-control {
		background-color: $background_color_1;
		border: none;
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
		-o-box-shadow: 0px 0px 0px;
		box-shadow: 0px 0px 0px;
		color: $color_4;
		height: 40px;
		padding: 0 15px;
		&::placeholder {
			color: $color_5;
			opacity: 1;
		}
		&::-ms-input-placeholder {
			color: $color_5;
		}
		&::-moz-input-placeholder {
			color: $color_5;
		}
	}
	.input-group-addon {
		background-color: $background_color_1;
		border: none;
		color: $color_4;
		padding-left: 0;
		padding-right: 0;
		line-height: 36px;
		font-size: 16px;
	}
	.input-group-addon.close-search {
		cursor: pointer;
	}
}
.bg-theme {
	background: #1c48de;
	background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: linear-gradient(-45deg, #1c48de, #00e3f6);
}
.bg-theme-light {
	background: #f5fafe;
}
.theme-overlay[data-overlay-dark] {
	&:before {
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
	}
}
.text-theme-color {
	color: $color_7;
}
.text-content-big {
	p {
		font-weight: 400;
		line-height: 200%;
		margin-bottom: 25px;
		font-size: 15px;
	}
}
.shadow-primary {
	-webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.2);
	box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}
.line-through {
	text-decoration: line-through;
}
.cursor-pointer {
	cursor: pointer;
}
.height-100vh {
	height: 100vh;
}
.list-style {
	li {
		line-height: 24px;
		margin-bottom: 10px;
		position: relative;
		// padding-left: 30px;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			padding-left: 40px;
		}
	}
}
.scroll-to-top {
	font-size: 20px;
	text-align: center;
	color: $color_4;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	border-radius: 50%;
	background: #000;
	border: 1px solid #2a2a2a;
	width: 35px;
	height: 35px;
	line-height: 30px;
	z-index: 9999;
	outline: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all 0.3s ease;
	i {
		color: $color_4;
	}
	&:hover {
		color: $color_2;
		background: #fff;
		i {
			color: $color_2;
		}
	}
	&:visited {
		color: $color_2;
		text-decoration: none;
	}
}
.butn {
	background: #1c48de;
	background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: linear-gradient(-45deg, #1c48de, #00e3f6);
	cursor: pointer;
	font-weight: 600;
	color: $color_4;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 28px;
	border-radius: 30px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition: all linear 400ms;
	transition: all linear 400ms;
	border: none;
	&:hover {
		color: $color_4;
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	&:before {
		background: #1c48de;
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: inline-block;
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 51%;
		-ms-transform-origin: 51%;
		transform-origin: 51%;
		-webkit-transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		border-radius: 22px;
		border: none;
	}
	&:focus {
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	&:active {
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}
a.butn {
	&:hover {
		color: $color_4;
	}
	&:active {
		color: $color_4;
	}
}
.butn.white {
	background: #fff;
	cursor: pointer;
	font-weight: 600;
	color: $color_7;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 28px;
	border-radius: 30px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	position: relative;
	-webkit-transition: all linear 100ms;
	transition: all linear 100ms;
	border: none;
	&:hover {
		color: $color_4;
		background: #1c48de;
		&:before {
			content: none;
		}
	}
	&:before {
		content: none;
	}
	&:focus {
		&:before {
			content: none;
		}
	}
	&:active {
		&:before {
			content: none;
		}
	}
}
a.butn.white {
	&:hover {
		color: $color_4;
		background: #1c48de;
	}
	&:active {
		color: $color_4;
		background: #1c48de;
	}
}
.section-heading {
	margin-bottom: 50px;
	text-align: center;
	h1 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	h2 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	h3 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	h4 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	h5 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	h6 {
		position: relative;
		margin-bottom: 0;
		font-weight: 600;
		position: relative;
		line-height: 140%;
	}
	strong {
		font-weight: 600;
	}
	p {
		font-size: 15px;
		font-weight: 400;
		padding-top: 15px;
		margin: 0 auto;
	}
	span {
		position: relative;
		font-size: 15px;
		font-weight: 500;
		color: $color_7;
		line-height: 200%;
		margin-bottom: 10px;
	}
}
.section-heading.half {
	margin-bottom: 30px;
}
.section-heading.white {
	h1 {
		color: $color_4;
	}
	h2 {
		color: $color_4;
	}
	h3 {
		color: $color_4;
	}
	h4 {
		color: $color_4;
	}
	h5 {
		color: $color_4;
	}
	h6 {
		color: $color_4;
	}
	p {
		color: $color_4;
	}
	span {
		color: $color_4;
	}
}
.section-heading.grey {
	h1 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	h2 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	h3 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	h4 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	h5 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	h6 {
		color: $color_8;
		&:after {
			background: #b7b7b7;
		}
	}
	span {
		color: $color_8;
	}
}
.section-heading.left {
	text-align: left;
}
.main-banner-area {
	overflow: hidden;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: none;
		z-index: 3;
	}
	.right-bg {
		float: right;
		width: 55.5%;
		right: 1px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.8;
			background: #1c48de;
			background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: linear-gradient(-45deg, #1c48de, #00e3f6);
		}
	}
	.header-shape-bg {
		position: absolute;
		top: 0px;
		min-height: 500px;
		z-index: 2;
		width: 100%;
	}
	.header-text {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: perspective(1px) translateY(-50%);
		z-index: 4;
		h1 {
			font-weight: 700;
			font-size: 36px;
			color: $color_7;
			line-height: 44px;
			letter-spacing: 1.4px;
			margin-bottom: 25px;
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			letter-spacing: 1px;
			margin-bottom: 30px;
		}
		.email-box {
			width: 85%;
			position: relative;
			background: none;
			overflow: hidden;
			input {
				width: 99%;
				height: 45px;
				margin-bottom: 7px;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
				border: 1px solid rgba(78,78,84,0.2);
				outline: none;
				padding-left: 20px;
				padding-right: 120px;
				z-index: 1;
				font-weight: 500;
				font-size: 12px;
				letter-spacing: 0.67px;
			}
			.butn {
				position: absolute;
				top: 0;
				right: 0px;
				z-index: 2;
				font-weight: 700;
				font-size: 12px;
				line-height: 20px;
				color: $color_4;
				outline: none;
				cursor: pointer;
				padding: 13px 18px;
				border-top-left-radius: 0;
				box-shadow: none;
				border-bottom-left-radius: 0;
				&:hover {
					&:before {
						padding: 14px 18px 14px 18px;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
				&:focus {
					&:before {
						padding: 14px 18px 14px 18px;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
			.input {
				.butn {
					&:active {
						&:before {
							padding: 14px 18px 14px 18px;
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
						}
					}
				}
			}
			span {
				display: block;
				font-size: 13px;
				padding-left: 5px;
			}
		}
	}
	.play-button-wrapper {
		position: absolute;
		width: 100%;
		top: 45%;
		transform: perspective(1px) translateY(-45%);
		z-index: 4;
		width: 55.5%;
		right: 0px;
		.btn-play {
			width: 60px;
			height: 60px;
			line-height: 56px;
			text-align: center;
			font-size: 22px;
			color: $color_4;
			margin: auto;
			left: 14%;
			right: 0px;
			display: block;
			border: 2px solid #fff;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			position: absolute;
			overflow: hidden;
			top: 0;
			bottom: 0;
			transform: perspective(1px) translateY(-50%);
			z-index: 3;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0px;
				top: 0px;
				background: #fff;
				opacity: .19;
				z-index: 1;
			}
			i {
				padding-left: 5px;
				position: relative;
				z-index: 2;
			}
		}
	}
}
.banner-area {
	background: #f5fafe;
	.banner-img {
		img {
			position: absolute;
			left: 0;
			top: 23%;
		}
	}
	.header-text {
		margin-top: 40%;
		padding-bottom: 10%;
	}
	.btn-play {
		width: 50px;
		height: 50px;
		line-height: 46px;
		text-align: center;
		font-size: 18px;
		color: $color_7;
		margin: auto;
		display: inline-block;
		border: 2px solid #1c48de;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		overflow: hidden;
		position: relative;
		z-index: 3;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			top: 0px;
			background: #fff;
			opacity: .19;
			z-index: 1;
		}
		i {
			padding-left: 5px;
			position: relative;
			z-index: 2;
		}
	}
}
.banner-creative {
	background: #f5fafe;
	padding: 15% 0 20% 0;
	.banner-img {
		img {
			position: absolute;
			left: -15px;
			top: -38%;
		}
	}
	.btn-play {
		width: 50px;
		height: 50px;
		line-height: 46px;
		text-align: center;
		font-size: 18px;
		color: $color_4;
		margin: auto;
		display: inline-block;
		border: 2px solid #fff;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		overflow: hidden;
		position: relative;
		z-index: 3;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			top: 0px;
			background: #fff;
			opacity: .19;
			z-index: 1;
		}
		i {
			padding-left: 5px;
			position: relative;
			z-index: 2;
		}
	}
}
.header-shape {
	margin-top: -3.9%;
	z-index: 9;
	position: relative;
}
.page-title-section {
	padding: 125px 0 125px;
	text-align: center;
	h1 {
		font-size: 40px;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 1;
		color: $color_4;
		margin-bottom: 0;
	}
	ul {
		margin-bottom: 0;
		margin-top: 15px;
		text-align: center;
		li {
			display: inline-block;
			&:last-child {
				a {
					color: $color_4;
					font-weight: 600;
				}
				&:after {
					content: none;
				}
			}
			&:after {
				content: '\f105';
				font-weight: 700;
				vertical-align: middle;
				color: $color_4;
				font-family: $font_family_1;
				padding: 0 5px 0 10px;
			}
			a {
				color: $color_4;
				font-size: 14px;
				font-weight: 500;
			}
		}
	}
	.active {
		a {
			color: $color_4;
		}
	}
	li.active {
		&:last-child {
			a {
				color: $color_4;
			}
		}
	}
}
.partner-box {
	border: 1px solid #ececec;
	img {
		width: 100%;
	}
	&:hover {
		.partner-text {
			span {
				color: $color_9;
			}
			h4 {
				&:after {
					width: 80px;
				}
			}
		}
	}
}
.partner-text {
	padding: 25px 40px 25px 0;
	span {
		color: $color_7;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	h4 {
		color: $color_2;
		font-size: 21px;
		font-weight: 600;
		margin: 5px 0 20px 0;
		line-height: normal;
		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 2px;
			background: #1c48de;
			margin-top: 10px;
			-webkit-transition-duration: .4s;
			transition-duration: 0.4s;
		}
	}
}
.services-block {
	background: #ffffff;
	border-radius: 7px;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: -1px 9px 18px 0px rgba(75,81,91,0.1);
		transform: translateY(-0.5em);
		.box-circle-large {
			transform: scale(1.2);
		}
		.box-circle-small {
			transform: translate3d(0, -35%, 0) rotate(0deg);
		}
	}
}
.services-block.bg-light-gray {
	background: #f7f7f7;
}
.title-box {
	position: relative;
	padding: 20px 0;
	font-size: 60px;
	line-height: 1;
	width: 2em;
	margin-left: auto;
	margin-right: auto;
}
.box-circle-large {
	position: absolute;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	left: 0;
	bottom: 0;
	width: 1.37em;
	height: 1.37em;
	background: rgba(78,74,200,0.1);
}
.box-circle-small {
	position: absolute;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	top: 0;
	right: 0;
	width: 0.59em;
	height: 0.59em;
	background: rgba(128,137,255,0.1);
}
.service-section {
	margin-top: -3.2%;
}
.service-block2 {
	position: relative;
	padding: 40px;
	background: #fff;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 9.9px 0.1px rgba(0,0,0,0.1);
	box-shadow: 0 0 9.9px 0.1px rgba(0,0,0,0.1);
	p {
		margin-bottom: 0;
	}
	&:hover {
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
		h3 {
			color: $color_4;
		}
		p {
			color: $color_4;
		}
	}
	.item-icon {
		span {
			display: inline-block;
			background: #f5fafe;
			width: 90px;
			height: 90px;
			line-height: 90px;
			color: $color_7;
			font-size: 40px;
			border: 1px solid #ececec;
			border-radius: 50%;
			text-align: center;
		}
	}
}
.section-clients {
	padding: 50px 0;
}
.clients {
	img {
		opacity: .6;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
		&:hover {
			opacity: 1;
		}
	}
}
.counter-box {
	h3 {
		display: inline-block;
		font-weight: 600;
		font-size: 45px;
		&:after {
			content: '+';
		}
	}
	h4 {
		display: inline-block;
		font-weight: 600;
		font-size: 28px;
		line-height: normal;
		margin: 0;
		&:after {
			content: '+';
		}
	}
	position: relative;
	text-align: center;
}
.social-icons {
	a {
		&:hover {
			opacity: 1;
		}
	}
}
.story-video {
	height: 100%;
}
.testmonial-single {
	text-align: center;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	h6 {
		color: $color_7;
		font-weight: 500;
	}
	span {
		i {
			color: $color_7;
		}
	}
	.rating {
		color: $color_7;
	}
}
.owl-carousel {
	.testmonial-box {
		img {
			width: auto;
			max-height: 120px;
			display: inline-block;
		}
	}
}
.custom-dot {
	display: inline-block;
	z-index: 1;
	margin-top: 30px;
	span {
		width: 12px;
		height: 12px;
		margin: 5px 5px 0 5px;
		background: none;
		cursor: pointer;
		display: block;
		border: 1px solid #6E6E6F;
		-webkit-backface-visibility: visible;
		border-radius: 30px;
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
		&:hover {
			background: #aaa;
			-webkit-backface-visibility: visible;
			border-radius: 30px;
		}
	}
}
.custom-dot.active {
	span {
		width: 12px;
		height: 12px;
		background: #1c48de;
		border-color: $border_color_6;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
	}
}
.owl-nav {
	i {
		color: $color_2;
		font-size: 18px;
		padding-top: 6px;
	}
	.owl-next {
		color: $color_7;
		font-size: 43px;
		text-align: center;
		width: 40px;
		height: 40px;
		background: #fff !important;
		-webkit-transition: all .4s ease 0s;
		transition: all .4s ease 0s;
		-webkit-box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
		-moz-box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
		box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
	}
	.owl-prev {
		color: $color_7;
		font-size: 43px;
		text-align: center;
		width: 40px;
		height: 40px;
		background: #fff !important;
		left: 0;
		-webkit-transition: all .4s ease 0s;
		transition: all .4s ease 0s;
		-webkit-box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
		-moz-box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
		box-shadow: 0 5px 28px 0 rgba(50,50,50,0.1);
	}
}
.team-style {
	.team-description {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: transparent;
		opacity: 0;
		transition: all 200ms ease-in-out;
		padding: 15px;
		z-index: 9;
	}
	.social-links {
		transform: translateY(15px);
		transition: transform 300ms ease-in-out, opacity 150ms ease-in;
		opacity: 0;
		color: $color_4;
		-webkit-font-smoothing: antialiased;
		a {
			&:hover {
				opacity: 0.65;
			}
		}
	}
	.team-description-wrapper {
		position: relative;
		display: table;
		width: 100%;
		height: 100%;
	}
	.team-description-content {
		display: table-cell;
		vertical-align: middle;
	}
	.team-member-img {
		position: relative;
		display: block;
		overflow: hidden;
		>img {
			transition: all 0.2s ease 0s;
		}
		img {
			transition: all 0.3s ease 0s;
		}
		&:hover {
			img {
				filter: grayscale(100%);
			}
		}
	}
	.bg-cover {
		background-color: $background_color_2;
		opacity: 1;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		transform: scale(2);
		transition: all 200ms ease-in-out;
		display: none;
		z-index: 1;
	}
	&:hover {
		.bg-cover {
			background-color: $background_color_3;
			display: block;
		}
		.social-links {
			transition-delay: 100ms, 100ms;
			opacity: 1;
			transform: translateY(0);
		}
		.team-member-img {
			>img {
				filter: blur(4px) grayscale(4%);
			}
		}
		.team-description {
			opacity: 1;
		}
	}
}
.filtering {
	margin-bottom: 10px;
	span {
		border-bottom: 1px solid transparent;
		color: $color_10;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-right: 20px;
		display: inline-block;
		margin-bottom: 5px;
		&:last-child {
			margin: 0;
		}
	}
	.active {
		border-color: $border_color_6;
		color: $color_7;
	}
}
.portfolio {
	overflow: hidden;
	.filtering {
		span {
			margin-right: 20px;
			color: $color_11;
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 14px;
			text-transform: uppercase;
			cursor: pointer;
			border-bottom: 1px solid transparent;
			&:last-child {
				margin: 0;
			}
		}
		.active {
			border-color: $border_color_6;
			color: $color_7;
		}
	}
	.items {
		margin-top: 20px;
	}
	.item-img {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
		}
		&:hover {
			.item-img-overlay {
				opacity: 1;
				transform: translateY(0);
			}
			h6 {
				transform: translateY(0);
			}
		}
		h6 {
			font-weight: 600;
			position: relative;
			font-size: 16px;
			margin-bottom: 0;
			transform: translateY(-15px);
			transition: all 0.5s;
		}
		p {
			margin-bottom: 8px;
		}
		.fa {
			background: #1c48de;
			border: 1px solid #1c48de;
			border-radius: 50%;
			color: $color_4;
			display: inline-block;
			height: 30px;
			line-height: 28px;
			width: 30px;
			transition: all 0.5s;
			&:hover {
				background: #fff;
				color: $color_7;
			}
		}
	}
	.item-img-overlay {
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		background: rgba(255,255,255,0.95);
		color: $color_12;
		opacity: 0;
		transition: all 0.5s;
		z-index: 2;
		transform: translateY(10px);
	}
}
.project-carousel {
	h4 {
		&:after {
			content: " ";
			background: #1c48de;
			height: 2px;
		}
	}
}
.project-single-text {
	h4 {
		&:after {
			content: " ";
			background: #1c48de;
			height: 2px;
		}
	}
	p {
		font-weight: 400;
		line-height: 1.8;
	}
	h5 {
		color: $color_2;
		font-size: 18px;
		font-weight: 500;
		margin: 25px 0 20px;
		&:after {
			display: block;
			width: 70px;
			margin-top: 8px;
			content: " ";
			background: #1c48de;
			height: 2px;
		}
	}
	ul {
		li {
			color: $color_2;
			font-size: 15px;
			font-weight: 500;
			i {
				color: $color_7;
				font-weight: 500;
				font-size: 15px;
				padding-right: 10px;
			}
		}
	}
}
.project-single-info {
	border: 1px solid #ececec;
	display: block;
	width: 100%;
	padding: 0 20px;
	ul {
		li {
			color: $color_13;
			font-size: 15px;
			font-weight: 500;
			border-bottom: 1px solid #ececec;
			padding: 12px 0;
			&:last-child {
				border-bottom: none;
			}
			span {
				display: inline-block;
				color: $color_2;
				font-size: 15px;
				font-weight: 500;
				margin-right: 25px;
				width: 70px;
				max-width: 100%;
			}
			.value {
				width: auto;
				margin-right: 0;
				color: $color_1;
			}
		}
	}
}
.project-single-img {
	padding-bottom: 30px;
}
.project-single-box-img {
	img {
		width: 100%;
		border-radius: 10px;
		-webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.07);
		box-shadow: 0 20px 40px rgba(0,0,0,0.07);
	}
}
.accordion-style {
	.card {
		background: transparent;
		box-shadow: none;
		margin-top: 0 !important;
		border: none;
	}
	.card-header {
		border: 0px;
		padding: 0;
		border-bottom: 1px solid rgba(255,255,255,0.15);
		background: none;
	}
	.btn-link {
		background: #efefef !important;
		box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		color: $color_1;
		position: relative;
		border: none;
		display: block;
		width: 100%;
		text-align: left;
		white-space: normal;
		border-radius: 4px;
		padding: 15px 50px 15px 15px;
		text-decoration: none;
		font-size: 15px;
		&:hover {
			border: none;
			text-decoration: none;
		}
		&:after {
			background: none;
			border: 1px solid #1c48de;
			border-radius: 50%;
			content: "-";
			right: 15px;
			left: inherit;
			font-size: 18px;
			height: 25px;
			line-height: 24px;
			transform: none;
			width: 25px;
			top: 15px;
			position: absolute;
			color: $color_7;
			text-align: center;
			padding-left: 2px;
			letter-spacing: -2px;
		}
	}
	.btn-link.collapsed {
		box-shadow: none;
		&:after {
			background: none;
			border: 1px solid #1c48de;
			border-radius: 50%;
			content: "+";
			right: 15px;
			left: inherit;
			font-size: 18px;
			line-height: 24px;
			height: 25px;
			transform: none;
			width: 25px;
			top: 15px;
			text-align: center;
			padding-left: 0;
			letter-spacing: -1px;
		}
	}
	.card-body {
		padding: 20px;
		line-height: 24px;
		text-align: left;
	}
}
ul.resp-tabs-list {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list {
	li {
		font-size: 16px;
		font-weight: 600;
		display: inline-block;
		padding: 8px 15px;
		margin: 0 4px 0 0;
		list-style: none;
		cursor: pointer;
		min-width: 180px;
		&:last-child {
			margin-right: 0;
		}
		i {
			font-size: 28px;
			margin-bottom: 8px;
			color: $color_1;
		}
	}
	li.resp-tab-active {
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
		padding: 15px 20px 13px 20px;
		color: $color_7;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		i {
			color: $color_4;
		}
	}
}
.resp-tabs-container {
	padding: 0px;
	background-color: $background_color_4;
	clear: left;
}
.resp-tab-content {
	display: none;
	padding: 50px 0 0 0;
	border: 1px solid #c1c1c1;
	border-top-color: $border_top_color_1;
	float: left;
	width: 100%;
}
.resp-content-active {
	display: block;
}
.resp-accordion-active {
	display: block;
}
h2.resp-accordion {
	background: #fff !important;
	cursor: pointer;
	display: none;
	font-size: 14px;
	border: 1px solid #e4e4e4;
	border-top: 0px solid #e4e4e4;
	margin: 0px;
	padding: 15px 21px;
	float: left;
	width: 100%;
	&:first-child {
		border-top: 1px solid #e4e4e4;
	}
}
h2.resp-tab-active {
	border-bottom: 0px solid #e4e4e4 !important;
	background: #1c48de !important;
	color: $color_4;
	span.resp-arrow {
		border-color: $border_color_7;
		border-style: solid;
		border-width: 1px 0 0 1px;
		float: right;
		display: block;
		height: 8px;
		transform: rotate(45deg);
		width: 8px;
		margin-top: 7px;
	}
}
h2.resp-tab-title {
	&:last-child {
		border-bottom: 12px solid #e4e4e4 !important;
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
	}
}
.resp-vtabs {
	ul.resp-tabs-list {
		float: left;
		width: 30%;
	}
	.resp-tabs-list {
		li {
			display: block;
			padding: 15px 15px !important;
			margin: 0 0 4px;
			cursor: pointer;
			float: none;
		}
	}
	.resp-tabs-container {
		padding: 0px;
		background-color: $background_color_4;
		border: 1px solid #1c48de !important;
		float: left;
		width: 70%;
		min-height: 250px;
		clear: none;
	}
	.resp-tab-content {
		border: none;
		word-wrap: break-word;
	}
	li.resp-tab-active {
		position: relative;
		z-index: 1;
		margin-right: -1px !important;
		padding: 14px 15px 15px 11px !important;
		border-top: 1px solid;
		border: 1px solid #1c48de !important;
		border-left: 4px solid #1c48de !important;
		margin-bottom: 4px !important;
		border-right: 1px #FFF solid !important;
	}
}
.resp-arrow {
	border-color: $border_color_2;
	border-style: solid;
	border-width: 0 1px 1px 0;
	float: right;
	display: block;
	height: 8px;
	transform: rotate(45deg);
	width: 8px;
	margin-top: 4px;
}
.resp-easy-accordion {
	h2.resp-accordion {
		display: block;
	}
	.resp-tab-content {
		border: 1px solid #c1c1c1;
		&:last-child {
			border-bottom: 1px solid #c1c1c1;
		}
	}
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
	border-color: $border_color_8 !important;
}
h2.resp-accordion.resp-tab-active {
	border-color: $border_color_8 !important;
}
.single-plan {
	position: relative;
	z-index: 99;
	border: 1px solid #efefef;
	-webkit-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-moz-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-ms-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-o-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	.head-plan {
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
		h4 {
			padding: 20px;
			margin: 0;
			color: $color_4;
			font-weight: 600;
		}
	}
}
.body-plan {
	.price-plan {
		padding: 32px 0 43px;
		position: relative;
		background: #f7f7f7;
		font-weight: bold;
		border-bottom: 1px solid #eaeaea;
		h3 {
			margin: 0;
			z-index: 11;
			position: relative;
			font-weight: bold;
			color: $color_1;
			sup {
				font-size: 18px;
				top: -15px;
				font-weight: bold;
				margin-right: 2px;
			}
		}
		span {
			text-transform: uppercase;
			font-size: 12px;
			z-index: 11;
			position: relative;
		}
	}
}
.feat-plan {
	margin: 56px 0 33px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 15px;
			border-bottom: 1px solid #efefef;
			padding-bottom: 15px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.price-plan {
	i {
		color: $color_4;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		border-radius: 50%;
		position: absolute;
		bottom: -24px;
		left: 42.6%;
		z-index: 99;
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
	}
}
.footer-plan {
	padding: 0 0 30px;
}
.price {
	.item {
		padding: 0 0 30px 0;
		background: #fff;
		border-radius: 5px;
		transition: all .3s;
		&:hover {
			box-shadow: 0px 5px 40px 0px rgba(148,146,245,0.2);
		}
	}
	.type {
		padding: 15px 0;
		background: #232323;
		h4 {
			color: $color_4;
			margin-bottom: 0;
		}
	}
	.value {
		padding: 30px 0 15px 0;
		position: relative;
		h3 {
			display: inline-block;
			padding-right: 10px;
			font-size: 50px;
			font-weight: 700;
			position: relative;
			margin-bottom: 0;
			span {
				font-size: 14px;
				position: absolute;
				top: 5px;
				right: 0;
			}
		}
		.per {
			font-size: 13px;
			color: $color_7;
		}
	}
	.features {
		li {
			margin: 15px 0;
			color: $color_13;
		}
	}
	.order {
		padding-top: 15px;
		position: relative;
	}
	.active {
		box-shadow: 0px 5px 40px 0px rgba(0,0,0,0.1);
		.type {
			background: #1c48de;
			background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
			background: linear-gradient(-45deg, #1c48de, #00e3f6);
		}
	}
}
.search-form_input {
	color: $color_7;
}
.search-frame {
	h4 {
		a {
			&:hover {
				color: $color_7;
			}
		}
	}
	.search_list {
		.match {
			color: $color_7;
		}
		li {
			&:before {
				color: $color_7;
			}
		}
	}
	.search {
		color: $color_7;
	}
}
.page-container {
	.title {
		font-size: 250px;
		line-height: 1;
		margin-bottom: 0;
	}
}
.coming-soon {
	.social-links {
		li {
			display: inline-block;
			font-size: 22px;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $color_4;
				&:hover {
					color: $color_14;
				}
			}
		}
	}
}
ul.countdown {
	li {
		border-right: 1px solid #c5c5c5;
		display: inline-block;
		padding: 0 30px;
		text-align: center;
		&:last-child {
			border: medium none;
			padding-right: 0;
		}
		span {
			font-size: 36px;
			font-weight: 700;
			line-height: normal;
			position: relative;
			&::before {
				content: "";
				height: 1px;
				position: absolute;
				width: 100%;
			}
		}
		p.timeRefDays {
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		p.timeRefHours {
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		p.timeRefMinutes {
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		p.timeRefSeconds {
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
	}
}
.blog-grid {
	position: relative;
	background: #fff;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&:hover {
		-webkit-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		-moz-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		-ms-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		-o-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
		transform: translateY(-0.25em);
	}
	img {
		width: 100%;
	}
	.data-box-grid {
		p {
			font-size: 14px;
			margin-bottom: 0;
			padding: 0;
			border: none;
			color: $color_4;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
		}
	}
}
.data-box-grid {
	display: inline-block;
	left: 0;
	bottom: -1px;
	padding: 5px 20px;
	font-size: 18px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	background: #1c48de;
	background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
	background: linear-gradient(-45deg, #1c48de, #00e3f6);
	h5 {
		letter-spacing: 1px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		margin-right: 8px;
		color: $color_4;
		font-size: 20px;
	}
}
.blog-grid-text {
	position: relative;
	>span {
		color: $color_7;
		font-size: 13px;
		padding-right: 5px;
	}
	h4 {
		font-size: 20px;
		line-height: normal;
		margin-bottom: 0;
	}
	ul {
		li {
			display: inline-block;
			color: $color_9;
			font-size: 14px;
			font-weight: 500;
			margin: 10px 25px 10px 0;
			i {
				color: $color_7;
				font-size: 14px;
				font-weight: 500;
				margin-right: 10px;
			}
		}
	}
	p {
		color: $color_9;
		font-size: 15px;
		font-weight: 400;
		line-height: 170%;
		padding: 10px 0 0 0;
	}
}
.blog-list-left-heading {
	&:after {
		content: '';
		height: 2px;
	}
}
.blog-title-box {
	&:after {
		content: '';
		height: 2px;
	}
}
.blog-grid-simple-content {
	a {
		&:hover {
			color: $color_2;
			&:after {
				color: $color_2;
			}
		}
	}
}
.blog-list-simple {
	margin: 0 0 30px 0;
	padding-bottom: 30px;
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
.blog-list-simple-text {
	color: $color_15;
	>span {
		color: $color_7;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 1px;
	}
	p {
		border-top: 1px solid #ececec;
		color: $color_15;
		font-size: 15px;
		font-weight: 400;
		line-height: 170%;
		margin-bottom: 0;
		padding: 15px 0;
	}
	.meta {
		margin: 0 0 5px 0;
	}
	li {
		display: inline-block;
		font-size: 12px;
		color: $color_13;
		margin: 5px;
	}
	h4 {
		color: $color_2;
		font-size: 20px;
		font-weight: 500;
		margin: 5px 0;
		line-height: normal;
	}
	ul {
		margin: 10px 0;
		li {
			color: $color_9;
			font-size: 14px;
			font-weight: 500;
			padding: 3px 0;
			i {
				color: $color_7;
				margin-right: 5px;
				font-size: 14px;
			}
		}
	}
}
.blogs {
	.post {
		margin-bottom: 50px;
		.content {
			padding: 30px;
			background: #fafafa;
			.post-title {
				h5 {
					font-size: 26px;
					line-height: normal;
					font-weight: 500;
					margin-bottom: 0;
					a {
						color: $color_2;
						&:hover {
							color: $color_16;
						}
					}
				}
			}
			.meta {
				margin-bottom: 15px;
				li {
					display: inline-block;
					font-size: 12px;
					color: $color_13;
					margin: 5px 5px 0 5px;
				}
			}
			.special {
				padding: 15px;
				margin: 30px 0;
				border-left: 2px solid #111;
				background: #f7f7f7;
				font-size: 16px;
			}
			.btn {
				border-color: $border_color_9;
				color: $color_1;
				min-width: auto;
				padding: 6px 20px;
				font-size: 12px;
				&:hover {
					color: $color_4;
					border-color: $border_color_10;
				}
			}
		}
		.share-post {
			margin-top: 30px;
			padding-top: 20px;
			border-top: 1px dashed #ddd;
			text-align: left;
			span {
				font-weight: 700;
			}
			ul {
				float: right;
				li {
					display: inline-block;
					margin: 0 10px;
				}
			}
		}
		.post-img {
			img {
				width: 100%;
			}
		}
	}
	.posts {
		.title-g {
			h3 {
				font-weight: 700;
				font-size: 25px;
				margin-bottom: 10px;
			}
		}
	}
	.comments-area {
		.comment-box {
			padding-bottom: 30px;
			margin-bottom: 50px;
			border-bottom: 1px solid #eee;
			&:nth-child(odd) {
				margin-left: 80px;
			}
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
	.comment-box {
		.author-thumb {
			width: 80px;
			float: left;
		}
		.comment-info {
			margin-left: 100px;
			h6 {
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 10px;
			}
			.reply {
				margin-top: 10px;
				font-weight: 600;
				i {
					padding-right: 5px;
					font-size: 12px;
				}
			}
		}
	}
}
.pagination {
	border-radius: 0;
	padding: 0;
	margin: 0;
	ul {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 auto;
		padding: 0;
	}
	li {
		display: inline;
		&:first-child {
			a {
				border-left-width: 1px;
			}
		}
	}
	a {
		float: left;
		padding: 0 18px;
		line-height: 40px;
		text-decoration: none;
		border: 1px solid #dbdbdb;
		border-left-width: 0;
		background: #fff;
		&:hover {
			background-color: $background_color_5;
			color: $color_4;
		}
	}
	.active {
		a {
			background-color: $background_color_6;
			color: $color_9;
			cursor: default;
		}
	}
	.disabled {
		span {
			color: $color_9;
			background-color: $background_color_1;
			cursor: default;
		}
		a {
			color: $color_9;
			background-color: $background_color_1;
			cursor: default;
			&:hover {
				color: $color_9;
				background-color: $background_color_1;
				cursor: default;
			}
		}
	}
}
.blockquote {
	background: #f1f1f1;
	border-left: 4px solid #1c48de;
	font-size: 16px;
	font-weight: 500;
	margin: 25px 0;
	padding: 20px 30px 30px;
	p {
		font-size: 15px;
		font-weight: 500;
		line-height: 190%;
		color: $color_2;
		letter-spacing: .5px;
	}
	h4 {
		font-size: 20px;
		font-weight: 400;
		color: $color_2;
		letter-spacing: .5px;
	}
}
.side-bar {
	.widget {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.widget-title {
			h6 {
				position: relative;
				padding-bottom: 5px;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1px;
				margin-bottom: 20px;
				&:after {
					content: '';
					width: 30px;
					height: 1px;
					background: #1c48de;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
		li {
			position: relative;
			padding: 0 0 0 12px;
			margin: 0 0 9px 0;
			color: $color_1;
			&:last-child {
				margin: 0;
			}
			&:after {
				content: "";
				width: 5px;
				height: 1px;
				background-color: $background_color_7;
				position: absolute;
				top: 12px;
				left: 0;
			}
		}
		.social-listing {
			margin-bottom: 0;
			li {
				list-style: none;
				display: inline-block;
				&:after {
					background: none;
				}
				&:first-child {
					padding-left: 0;
				}
			}
		}
	}
	.search {
		form {
			input {
				width: calc(100% - 50px);
				height: 50px;
				padding: 0 10px;
				margin: 0;
				border: 1px solid #d1d1d1;
				background: #f7f7f7;
			}
			button {
				width: 50px;
				height: 50px;
				line-height: 50px;
				color: $color_4;
				border: 0;
				float: right;
				border-radius: 0;
				padding: 0;
				&:hover {
					&:before {
						border-radius: 0;
						padding: 0;
					}
				}
			}
		}
	}
}
.social-icon-style1 {
	margin-bottom: 0;
	li {
		text-align: center;
		margin-right: 4px;
		display: inline-block;
		a {
			background: #1c48de;
			border: 1px solid #1c48de;
			color: $color_4;
			border-radius: 35px;
			height: 35px;
			width: 35px;
			line-height: 35px;
			display: inline-block;
			&:hover {
				background: #fff;
				color: $color_7;
			}
		}
	}
}
.social-icon-style2 {
	padding-left: 0px;

	li {
		display: inline-block;
		padding: 20px;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
		a {
			font-size: 22px;
			color: white;
			cursor: pointer;
			&:hover {
				color: white;
				cursor: pointer;
			}
		}
	}
}
.newsletter {
	position: relative;
	background: none;
	overflow: hidden;
	input {
		width: 99%;
		height: 45px;
		margin-bottom: 0;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		border: 1px solid rgba(78,78,84,0.2);
		outline: none;
		padding-left: 20px;
		padding-right: 120px;
		z-index: 1;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 0.67px;
	}
	.butn {
		position: absolute;
		top: 0;
		right: 0px;
		z-index: 2;
		font-weight: 700;
		font-size: 12px;
		line-height: 20px;
		color: $color_4;
		outline: none;
		cursor: pointer;
		padding: 13px 18px;
		border-top-left-radius: 0;
		box-shadow: none;
		border-bottom-left-radius: 0;
		&:hover {
			&:before {
				padding: 14px 18px 14px 18px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		&:focus {
			&:before {
				padding: 14px 18px 14px 18px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	.input {
		.butn {
			&:active {
				&:before {
					padding: 14px 18px 14px 18px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
}
#map {
	height: 400px;
	width: 100%;
}
footer {
	padding: 50px 0 0;
	background: #1f1f1f;
	color: $color_17;
	p {
		margin-bottom: 0;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 30px;
		line-height: 1;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 70px;
			height: 2px;
			background: #2453f5;
			margin: 12px auto 0 auto;
		}
	}
	h3.footer-title-style2 {
		margin-bottom: 28px;
	}
}
.footer-title-style {
	&:after {
		margin-left: auto;
		margin-right: auto;
	}
}
h3.footer-title-style {
	margin-bottom: 20px;
}
.footer-bar {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
	text-align: center;
	background: #191919;
	color: $color_17;
	span {
		color: $color_7;
		font-size: 15px;
		font-weight: 400;
	}
}
.footer-list {
	margin: 0;
	li {
		list-style-type: none;
		color: $color_2;
		padding: 6px 0;
		&:first-child {
			padding-top: 0;
		}
		a {
			font-size: 15px;
			font-weight: 400;
			color: $color_2;
			&:before {
				content: '\f105';
				font-weight: 700;
				vertical-align: bottom;
				font-family: $font_family_1;
				color: $color_2;
				padding-right: 8px;
				-webkit-transition-duration: .3s;
				transition-duration: .3s;
			}
			&:hover {
				color: $color_7;
				&:before {
					color: $color_7;
				}
			}
		}
	}
}
.footer-social-icons {
	ul {
		margin-bottom: 0;
		li {
			display: inline-block;
			border: 1px solid #1c48de;
			border-radius: 50%;
			color: $color_4;
			margin-right: 10px;
			margin-bottom: 5px;
			-webkit-transition-duration: .3s;
			transition-duration: 0.3s;
			a {
				color: $color_7;
				display: block;
				font-size: 15px;
				height: 35px;
				line-height: 34px;
				text-align: center;
				width: 35px;
			}
			&:hover {
				background: #1c48de;
				background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
				background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
				background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
				background: linear-gradient(-45deg, #1c48de, #00e3f6);
				i {
					color: $color_4;
				}
			}
		}
	}
}
h3.footer-title-style2 {
	&:after {
		width: 100%;
		height: 1px;
		background: #1c48de;
		margin-top: 15px;
	}
}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

[data-overlay-dark="9"]:before, [data-overlay-light="9"]:before {
    opacity: 0.9;
}

[data-overlay-dark]:before {
    background: #000;
}
[data-overlay-dark] .container, [data-overlay-light] .container {
    position: relative;
    z-index: 2;
}
.theme-overlay[data-overlay-dark]:before {
    background: #1c48de;
    background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
    background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
    background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
    background: linear-gradient(-45deg, #1c48de, #00e3f6);
}
[data-overlay-dark]:before, [data-overlay-light]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.line-height-55 {
    line-height: 55px;
}

.text-white {
    color: #fff;
}

.width-80 {
    width: 80%;
}
.margin-30px-bottom {
    margin-bottom: 30px;
}
.line-height-28 {
    line-height: 28px;
}
.font-size16 {
    font-size: 16px;
    line-height: normal;
}
.header-text {
    padding-top: 10%;
}
.bg-light-gray {
    background-color: $background_color_6;
}
.bg-dark-gray {
    background-color: $background_color_10;
}

.padding-five-lr {
    padding-left: 5%;
    padding-right: 5%;
}
.text-theme-color {
    color: $color_7;
}
.font-size36 {
    font-size: 36px;
    line-height: normal;
}
.display-inline-block {
    display: inline-block !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}
.vertical-align-middle {
    vertical-align: middle;
}
.width-90 {
    width: 90%;
}

.margin-10px-top {
    margin-top: 10px;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.line-height-28 {
    line-height: 28px;
}
.font-size16 {
    font-size: 16px;
    line-height: normal;
}
.padding-30px-bottom {
    padding-bottom: 30px;
}
section {
	padding: 75px 0px;
}

.content-padding {
	padding-top: 10%;
}
.btn-custom {
	background-color: #2453f5;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
	text-decoration: none !important;
	&:hover {
		color: white;
	}
}

.btn-custom-inverse {
	color: #2453f5;
    background-color: white;
	text-decoration: none !important;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 28px;
	border-radius: 30px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition: all linear 400ms;
	transition: all linear 400ms;
	border: none;
	&:hover {
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	&:focus {
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	&:active {
		&:before {
			-webkit-transform: scaleX(1);
			-ms-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
}
.nav-link {
	&:hover {
		font-weight: bold;
	}
}
.mt-10 {
	margin-top: 100px;
}
.pt-45 {
	padding-top: 45px;
}
//!!!!!!!!!!!!
@media screen and (min-width: 992px) {
	.wrapper-boxed {
		.scrollHeader {
			.navbar-default {
				left: 0;
				margin: 0 auto;
				max-width: 1200px;
				right: 0;
			}
		}
	}
	.scrollHeader {
		.navbar-brand {
			img {
				max-height: 35px;
				transition-duration: 0.5s;
			}
		}
		.navbar-header-custom {
			padding: 10px 0;
			transition-duration: 0.5s;
		}
		.attr-nav {
			>ul {
				>li {
					>a {
						padding: 21px 15px;
					}
				}
				>li.dropdown {
					ul.dropdown-menu {
						top: 67px;
					}
				}
			}
		}
	}
	.attr-nav {
		>ul {
			>li.dropdown {
				ul.dropdown-menu {
					visibility: hidden;
					top: 66px;
					border-radius: 0;
					opacity: 0;
					left: -225px;
				}
				&:hover {
					ul.dropdown-menu {
						margin-top: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	.index-header {
		.navbar-nav {
			>li {
				>a {
					color: $color_4;
				}
			}
			>li.active {
				>a {
					opacity: 0.65;
					color: $color_4;
				}
			}
			>li.current {
				>a {
					opacity: 0.65;
				}
			}
			>li.has-sub {
				>a {
					&:hover {
						color: $color_4;
					}
				}
			}
			li.current {
				>a {
					color: $color_4;
				}
			}
		}
		.navbar {
			>ul {
				>li.has-sub {
					>a {
						&:after {
							border-color: $border_color_3;
						}
					}
				}
			}
		}
		.attr-nav {
			>ul {
				>li {
					>a {
						color: $color_4;
					}
				}
			}
		}
	}
	.index-header.scrollHeader {
		.navbar-nav {
			>li {
				>a {
					color: $color_2;
				}
			}
			>li.active {
				>a {
					opacity: 1;
					color: $color_3;
					color: $color_7;
				}
			}
			>li.current {
				>a {
					opacity: 1;
					color: $color_3;
					color: $color_7;
				}
			}
			>li.has-sub {
				>a {
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		.navbar {
			>ul {
				>li.has-sub {
					>a {
						&:after {
							border-color: $border_color_2;
						}
					}
				}
				>li.has-sub.current {
					>a {
						&:after {
							border-color: $border_color_1;
							border-color: $border_color_5;
						}
					}
				}
			}
		}
		.attr-nav {
			>ul {
				>li {
					>a {
						color: $color_2;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

	.attr-nav {
		>ul {
			>li {
				>a {
					padding: 21px 8px;
				}
			}
		}
	}
	.scrollHeader {
		.navbar-nav {
			>li {
				>a {
					padding: 21px 0.4rem;
				}
			}
		}
		.attr-nav {
			>ul {
				>li {
					>a {
						padding: 21px 8px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.onepage-header {
		background: #232323;
		min-height: 70px;
		background: #1c48de;
		background: -webkit-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -moz-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: -o-linear-gradient(-45deg, #1c48de, #00e3f6);
		background: linear-gradient(-45deg, #1c48de, #00e3f6);
		.navbar-nav {
			.nav-link {
				color: $color_2;
				padding: 10px 20px;
				&:hover {
					color: $color_3;
					opacity: 1;
				}
			}
			.nav-link.active {
				color: $color_3;
				opacity: 1;
				color: $color_7;
			}
		}
	}
	.onepage-header.scrollHeader {
		.navbar {
			.container {
				padding: 0 15px;
			}
			.navbar-nav {
				.nav-link.active {
					color: $color_3;
					color: $color_7;
				}
			}
		}
		.navbar-toggler {
			right: 15px;
		}
		.navbar-nav {
			position: relative;
			top: 0;
			margin-bottom: 15px;
			.nav-link {
				color: $color_2;
				&:hover {
					color: $color_3;
					color: $color_7;
				}
			}
		}
	}
	.navbar-header-custom {
		padding: 4px 0 8px;
	}
	.menu_area {
		.navbar-brand {
			margin-top: 6px;
		}
	}
	.attr-nav {
		float: left;
		>ul {
			>li {
				display: inline-block;
				>a {
					padding: 0;
				}
			}
		}
		ul {
			li.search {
				margin-top: 3px;
			}
		}
	}
	.section-heading {
		margin-bottom: 30px;
		p {
			padding-top: 10px;
			font-size: 14px;
		}
	}
	.main-banner-area {
		.right-bg {
			width: 100%;
			max-height: 550px;
			height: 100%;
			min-height: 410px;
			&:before {
				opacity: 0.8;
			}
		}
		.header-shape-bg {
			display: none;
		}
		.header-text {
			top: 50%;
			transform: perspective(1px) translateY(-50%);
			h1 {
				font-weight: 600;
				font-size: 26px;
				line-height: 34px;
				margin-bottom: 10px;
				color: $color_4;
				text-align: center;
			}
			p {
				color: $color_4;
				text-align: center;
				margin-bottom: 20px;
				line-height: 24px;
				font-size: 14px;
			}
			.email-box {
				width: 100%;
				span {
					color: $color_4;
					text-align: center;
				}
			}
		}
		.play-button-wrapper {
			display: none;
		}
	}
	.banner-area {
		.header-text {
			margin: 0;
			padding: 50px 0px;
		}
		.banner-img {
			img {
				position: relative;
				width: auto;
				float: none !important;
			}
		}
	}
	.banner-creative {
		padding: 50px 0 50px 0;
		.banner-img {
			img {
				position: relative;
				width: auto;
				float: none !important;
				left: 0;
			}
		}
	}
	.page-title-section {
		padding: 60px 0;
		h1 {
			font-size: 30px;
			line-height: 40px;
		}
		ul {
			margin-top: 5px;
			li {
				a {
					font-size: 12px;
				}
			}
		}
	}
	.title-box {
		font-size: 50px;
	}
	.section-clients {
		padding: 30px 0;
		.item {
			text-align: center;
			width: 100%;
		}
		.owl-carousel {
			.owl-item {
				img {
					max-width: 75%;
					display: inline-block;
				}
			}
		}
	}
	.page-container {
		.title {
			font-size: 125px;
		}
	}
}
@media screen and (max-width: 767px) {
	.butn {
		padding: 12px 24px;
		font-size: 12px;
		line-height: 16px;
	}
	.main-banner-area {
		.right-bg {
			img {
				width: auto;
				max-width: 144%;
			}
		}
		.header-text {
			h1 {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
	.banner-area {
		.btn-play {
			width: 40px;
			height: 40px;
			line-height: 36px;
			font-size: 16px;
		}
	}
	.banner-creative {
		padding: 30px 0;
		.btn-play {
			width: 40px;
			height: 40px;
			line-height: 36px;
			font-size: 16px;
		}
	}
	.partner-text {
		padding: 25px;
		span {
			font-size: 12px;
		}
		h4 {
			font-size: 18px;
			margin: 5px 0 15px 0;
			&:after {
				margin-top: 8px;
			}
		}
	}
	.title-box {
		font-size: 42px;
	}
	.service-block2 {
		.item-icon {
			span {
				width: 70px;
				height: 70px;
				line-height: 70px;
				font-size: 32px;
			}
		}
	}
	.counter-box {
		p {
			&:before {
				margin: 0;
				position: absolute;
				top: 45px;
			}
			&:after {
				margin: 0;
				left: 14px;
				right: 0;
				top: 45px;
			}
		}
		h4 {
			font-size: 22px;
		}
	}
	.counter-box.black {
		p {
			&:after {
				margin: 0;
				left: 14px;
				right: 0;
				top: 45px;
			}
		}
	}
	.filtering {
		span {
			margin-right: 15px;
		}
	}
	.portfolio {
		overflow: hidden;
		.filtering {
			margin-bottom: 5px;
			span {
				margin-right: 15px;
				font-size: 12px;
			}
		}
	}
	.accordion-style {
		.btn-link {
			font-size: 14px;
			padding: 12px 50px 12px 15px;
		}
	}
	ul.resp-tabs-list {
		display: none;
	}
	h2.resp-accordion {
		display: block;
		i {
			margin-right: 12px;
			font-size: 18px;
			min-width: 25px;
		}
	}
	h2.resp-accordion.resp-tab-active {
		i {
			color: $color_4;
		}
	}
	.resp-vtabs {
		.resp-tab-content {
			border: 1px solid #C1C1C1;
			&:last-child {
				border-bottom: 1px solid #c1c1c1 !important;
			}
		}
		.resp-tabs-container {
			border: none !important;
			float: none;
			width: 100%;
			min-height: 100px;
			clear: none;
		}
	}
	.resp-accordion-closed {
		display: none !important;
	}
	.resp-tab-content {
		background-color: $background_color_4;
		padding: 20px 15px;
	}
	.price {
		.value {
			h3 {
				font-size: 36px;
				span {
					font-size: 13px;
				}
			}
			.per {
				font-size: 12px;
			}
		}
	}
	.page-container {
		.title {
			font-size: 75px;
		}
	}
	.coming-soon {
		.social-links {
			li {
				margin-right: 15px;
				font-size: 16px;
			}
		}
	}
	ul.countdown {
		li {
			padding: 0 8px;
			span {
				font-size: 22px;
			}
		}
	}
	.social-links {
		li {
			margin-right: 15px;
		}
	}
	.blog-grid-text {
		h4 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
		}
	}
	.blog-list-simple {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.data-box-grid {
		padding: 5px 15px;
		font-size: 16px;
		h5 {
			font-size: 16px;
			margin-right: 3px;
		}
	}
	.blog-list-simple-text {
		>span {
			font-size: 12px;
		}
		p {
			font-size: 14px;
		}
		h4 {
			font-size: 18px;
		}
		ul {
			li {
				font-size: 12px;
			}
		}
	}
	.blogs {
		.post {
			.content {
				.post-title {
					h5 {
						font-size: 20px;
					}
				}
				.special {
					font-size: 14px;
				}
			}
		}
		.posts {
			.title-g {
				h3 {
					font-size: 18px;
				}
			}
		}
	}
	.social-icon-style2 {
		li {
			a {
				font-size: 18px;
			}
		}
	}
	footer {
		padding-top: 30px;
		h3 {
			font-size: 16px;
		}
		h3.footer-title-style2 {
			margin-bottom: 20px;
		}
	}
	h3.footer-title-style {
		margin-bottom: 15px;
	}
	.footer-bar {
		margin-top: 30px;
		p {
			font-size: 13px;
		}
	}
}
@media screen and (max-width: 1199px) {
	.main-banner-area {
		.right-bg {
			right: 0;
		}
		.header-text {
			top: 70%;
			transform: perspective(1px) translateY(-70%);
			h1 {
				font-size: 32px;
				line-height: 42px;
			}
			.email-box {
				width: 100%;
			}
		}
	}
	.banner-creative {
		.banner-img {
			img {
				top: -18%;
			}
		}
	}
	.page-title-section {
		padding: 85px 0;
		h1 {
			font-size: 36px;
			line-height: 42px;
		}
	}
	.price {
		.value {
			h3 {
				font-size: 42px;
			}
		}
	}
	.page-container {
		.title {
			font-size: 200px;
		}
	}
	.blog-grid-text {
		h4 {
			font-size: 18px;
		}
	}
	.blogs {
		.post {
			.content {
				.post-title {
					h5 {
						font-size: 22px;
					}
				}
				.special {
					font-size: 16px;
				}
			}
		}
		.posts {
			.title-g {
				h3 {
					font-size: 22px;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.tab-style {
		ul.resp-tabs-list {
			text-align: center;
			li {
				&:last-child {
					margin-right: 0;
				}
			}
			li.resp-tab-active {
				color: $color_4;
			}
		}
		ul.resp-tabs-list.text-left {
			padding-left: 15px;
		}
		.resp-tab-content {
			border: 1px solid #e6e6e6;
			border-width: 1px 0 0 0;
			border-color: $border_color_6;
		}
	}
}
@media screen and (max-width: 769px) {
	.content-padding {
		padding-top: 5%;
	}
	.pt-xs-30 {
		padding-top: 30px;
	}
}
@media screen and (max-width: 500px) {
	.header-text h1 {
		padding-top: 15%;
		text-align: center;
	}
	.header-text div {
		text-align: center;
	}
	section {
		padding: 40px 0px;
	}
	.solution-container .mt-10 {
		margin-top: 0px;
	}
	h1,h2,h3,h4,h5,h6,p {
		text-align: center;
	}
	.pt-45 {
		padding-top: 30px;
	}
	.pt-xs-30 {
		padding-top: 30px;
	}
}